/* Keyframed animations */
@keyframes bar1 {
    0% {
        visibility: visible
    }
    100%, 90% {
        visibility: hidden
    }
}

@keyframes bar2 {
    0% {
        visibility: visible
    }
    100%, 85% {
        visibility: hidden
    }
}

@keyframes bar3 {
    0% {
        visibility: visible
    }
    100%, 80% {
        visibility: hidden
    }
}

@keyframes bar4 {
    0% {
        visibility: visible
    }
    100%, 78% {
        visibility: hidden
    }
}

@keyframes bar5 {
    0% {
        visibility: visible
    }
    100%, 74% {
        visibility: hidden
    }
}

@keyframes shape_bars {
    0% {
        top: -20em
    }
    10% {
        top: -16em
    }
    82% {
        top: 7.3em
    }
    100% {
        top: 7.3em
    }
}

@keyframes shape_bars_rotate {
    0% {
        bottom: -20em
    }
    10% {
        bottom: -16em
    }
    82% {
        bottom: 7.3em
    }
    100% {
        bottom: 7.3em
    }
}

@keyframes text_large {
    0% {
        color: var(--alertRed);
        text-shadow: 0 0 .3em rgba(159, 2, 0, .1), .1em .1em .3em rgba(159, 2, 0, .1), -.1em .1em .3em rgba(159, 2, 0, .1), -.1em -.1em .3em rgba(159, 2, 0, .1), .1em -.1em .3em rgba(159, 2, 0, .1), .1em 0 .3em rgba(159, 2, 0, .1), -.1em 0 .3em rgba(159, 2, 0, .1), 0 .1em .3em rgba(159, 2, 0, .1), 0 -.1em .3em rgba(159, 2, 0, .1)
    }
    10% {
        text-shadow: 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0)
    }
    65.9% {
        color: var(--alertRed);
        text-shadow: 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0)
    }
    66% {
        color: #cd3d07;
        text-shadow: 0 0 1em rgba(159, 2, 0, .9), .5em .5em 1em rgba(159, 2, 0, .9), -.5em .5em 1em rgba(159, 2, 0, .9), -.5em -.5em 1em rgba(159, 2, 0, .9), .5em -.5em 1em rgba(159, 2, 0, .9), .5em 0 1em rgba(159, 2, 0, .9), -.5em 0 1em rgba(159, 2, 0, .9), 0 .5em 1em rgba(159, 2, 0, .9), 0 -.5em 1em rgba(159, 2, 0, .9)
    }
    75% {
        color: #cd3d07
    }
    100% {
        color: var(--alertRed);
        text-shadow: 0 0 .3em rgba(159, 2, 0, .1), .1em .1em .3em rgba(159, 2, 0, .1), -.1em .1em .3em rgba(159, 2, 0, .1), -.1em -.1em .3em rgba(159, 2, 0, .1), .1em -.1em .3em rgba(159, 2, 0, .1), .1em 0 .3em rgba(159, 2, 0, .1), -.1em 0 .3em rgba(159, 2, 0, .1), 0 .1em .3em rgba(159, 2, 0, .1), 0 -.1em .3em rgba(159, 2, 0, .1)
    }
}

@keyframes yellow_text_large {
    0% {
        color: var(--alertYellow);
        text-shadow: 0 0 .3em rgba(159, 150, 0, .1), .1em .1em .3em rgba(159, 150, 0, .1), -.1em .1em .3em rgba(159, 150, 0, .1), -.1em -.1em .3em rgba(159, 150, 0, .1), .1em -.1em .3em rgba(159, 150, 0, .1), .1em 0 .3em rgba(159, 150, 0, .1), -.1em 0 .3em rgba(159, 150, 0, .1), 0 .1em .3em rgba(159, 150, 0, .1), 0 -.1em .3em rgba(159, 150, 0, .1)
    }
    10% {
        text-shadow: 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0)
    }
    65.9% {
        color: var(--alertYellow);
        text-shadow: 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0)
    }
    66% {
        color: #FFFF80;
        text-shadow: 0 0 1em rgba(159, 150, 0, .9), .5em .5em 1em rgba(159, 150, 0, .9), -.5em .5em 1em rgba(159, 150, 0, .9), -.5em -.5em 1em rgba(159, 150, 0, .9), .5em -.5em 1em rgba(159, 150, 0, .9), .5em 0 1em rgba(159, 150, 0, .9), -.5em 0 1em rgba(159, 150, 0, .9), 0 .5em 1em rgba(159, 150, 0, .9), 0 -.5em 1em rgba(159, 150, 0, .9)
    }
    75% {
        color: #FFFF80
    }
    100% {
        color: var(--alertYellow);
        text-shadow: 0 0 .3em rgba(159, 150, 0, .1), .1em .1em .3em rgba(159, 150, 0, .1), -.1em .1em .3em rgba(159, 150, 0, .1), -.1em -.1em .3em rgba(159, 150, 0, .1), .1em -.1em .3em rgba(159, 150, 0, .1), .1em 0 .3em rgba(159, 150, 0, .1), -.1em 0 .3em rgba(159, 150, 0, .1), 0 .1em .3em rgba(159, 150, 0, .1), 0 -.1em .3em rgba(159, 150, 0, .1)
    }
}